<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Beyond Academy</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="~/vendors/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="~/css/vertical-light-layout/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="~/images/favicon.png" />
</head>
<body>
    <div class="container-scroller">

        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <div class="text-center sidebar-brand-wrapper d-flex align-items-center">
                <a class="sidebar-brand brand-logo" href="index.html"><img src="~/images/logo.svg" alt="logo" /></a>
                <a class="sidebar-brand brand-logo-mini ps-4 pt-3" href="index.html"><img src="~/images/logo-mini.svg" alt="logo" /></a>
            </div>
            <ul class="nav">
                <li class="nav-item nav-profile">
                    <a href="#" class="nav-link">
                        <div class="nav-profile-image">
                            <img src="~/images/faces/face1.jpg" alt="profile">
                            <span class="login-status online"></span>
                            <!--change to offline or busy as needed-->
                        </div>
                        <div class="nav-profile-text d-flex flex-column pe-3">
                            <span class="font-weight-medium mb-2">Student Name</span>
                        </div>
                        <span class="badge badge-danger text-white ms-3 rounded">3</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Admin" asp-action="AdminDashboard">
                        <i class="mdi mdi-home menu-icon"></i>
                        <span class="menu-title">Dashboard</span>
                    </a>
                </li>
                <li class="nav-item">
                    <!--<a class="nav-link" data-bs-toggle="collapse" asp-controller="Admin" asp-action="CreateTeacher" aria-expanded="false" aria-controls="ui-basic">
                        <i class="mdi mdi-crosshairs-gps menu-icon"></i>
                        <span class="menu-title">Create New Teacher Account</span>
                        <i class="menu-arrow"></i>
                    </a>-->
                    <!--<div class="collapse" id="ui-basic">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"> <a class="nav-link" href="pages/ui-features/buttons.html">Buttons</a></li>
                            <li class="nav-item"> <a class="nav-link" href="pages/ui-features/dropdowns.html">Dropdowns</a></li>
                            <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Typography</a></li>
                        </ul>
                    </div>-->
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" asp-controller="Admin" asp-action="GetAllTeacher" aria-expanded="false" aria-controls="icons">
                        <i class="mdi mdi-account-box menu-icon"></i>
                        <span class="menu-title">Teachers</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <!--<div class="collapse" id="icons">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"> <a class="nav-link" href="pages/icons/font-awesome.html">Font Awesome</a></li>
                        </ul>
                    </div>-->
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" asp-controller="Admin" asp-action="GetAllStudent" aria-expanded="false" aria-controls="forms">
                        <i class="mdi mdi-account-box-outline menu-icon"></i>
                        <span class="menu-title">Students</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <!--<div class="collapse" id="forms">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"> <a class="nav-link" href="pages/forms/basic_elements.html">Form Elements</a></li>
                        </ul>
                    </div>-->
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Admin" asp-action="MyProfile" aria-expanded="false" aria-controls="charts">
                        <i class="mdi mdi-account menu-icon"></i>
                        <span class="menu-title">Profile</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <!--<div class="collapse" id="charts">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"> <a class="nav-link" href="pages/charts/chartjs.html">ChartJs</a></li>
                        </ul>
                    </div>-->
                </li>
                <!--<li class="nav-item">
                     <a class="nav-link" data-bs-toggle="collapse" href="#tables" aria-expanded="false" aria-controls="tables">
                         <i class="mdi mdi-table-large menu-icon"></i>
                         <span class="menu-title">Tables</span>
                         <i class="menu-arrow"></i>
                     </a>
                     <div class="collapse" id="tables">
                         <ul class="nav flex-column sub-menu">
                             <li class="nav-item"> <a class="nav-link" href="pages/tables/basic-table.html">Basic table</a></li>
                         </ul>
                     </div>
                 </li>
                 <li class="nav-item">
                     <a class="nav-link" data-bs-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
                         <i class="mdi mdi-lock menu-icon"></i>
                         <span class="menu-title">User Pages</span>
                         <i class="menu-arrow"></i>
                     </a>
                     <div class="collapse" id="auth">
                         <ul class="nav flex-column sub-menu">
                             <li class="nav-item"> <a class="nav-link" href="pages/samples/blank-page.html"> Blank Page </a></li>
                             <li class="nav-item"> <a class="nav-link" href="pages/samples/error-404.html"> 404 </a></li>
                             <li class="nav-item"> <a class="nav-link" href="pages/samples/error-500.html"> 500 </a></li>
                             <li class="nav-item"> <a class="nav-link" href="pages/samples/login.html"> Login </a></li>
                             <li class="nav-item"> <a class="nav-link" href="pages/samples/register.html"> Register </a></li>
                         </ul>
                     </div>
                 </li>
                 <li class="nav-item">
                     <a class="nav-link" href="docs/documentation.html">
                         <i class="mdi mdi-file-document-box menu-icon"></i>
                         <span class="menu-title">Documentation</span>
                     </a>
                 </li>-->
                <li class="nav-item sidebar-actions">
                    <div class="nav-link">
                        <div class="mt-4">
                            <ul class="mt-4 ps-0">
                                <li>
                                    <form asp-controller="Home" asp-action="ChangePassword" method="post" id="changePasswordForm" style="display:none;">
                                        @* <button type="Submit" style="padding:0; border:none; background:none; color:#2840fa;">
                                        <b>Change Password</b>
                                        </button> *@
                                    </form>
                                </li>
                            </ul>
                            <ul class="mt-4 ps-0">
                                <li>
                                    <form asp-controller="Home" asp-action="Logout" method="post" id="logoutForm" style="display:none;">
                                        @* <button type="Submit" style="padding:0; border:none; background:none; color:#b8020b;">
                                        <b>Sign Out</b>
                                        </button> *@
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_navbar.html -->
            <nav class="navbar col-lg-12 col-12 p-lg-0 fixed-top d-flex flex-row">
                <div class="navbar-menu-wrapper d-flex align-items-stretch justify-content-between">
                    <a class="navbar-brand brand-logo-mini align-self-center d-lg-none" href="index.html"><img src="~/images/logo-mini.svg" alt="logo" /></a>
                    <button class="navbar-toggler navbar-toggler align-self-center me-2" type="button" data-toggle="minimize">
                        <i class="mdi mdi-menu"></i>
                    </button>
                    <ul class="navbar-nav">
                        <li class="nav-item nav-search border-0 ms-1 ms-md-3 ms-lg-5 d-none d-md-flex">
                            <form class="nav-link form-inline mt-2 mt-md-0">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search">
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="mdi mdi-magnify"></i>
                                        </span>
                                    </div>
                                </div>
                            </form>
                        </li>
                    </ul>
                    <ul class="navbar-nav navbar-nav-right ml-lg-auto">
                        <li class="nav-item dropdown d-none d-xl-flex border-0">
                        </li>
                        <li class="nav-item  nav-profile dropdown border-0">
                            <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-bs-toggle="dropdown">
                                <img class="nav-profile-img me-2" alt="" src="~/images/faces/face1.jpg">
                                <span class="profile-name">Your Profile</span>
                            </a>
                            <div class="dropdown-menu navbar-dropdown w-100" aria-labelledby="profileDropdown">
                                <a class="dropdown-item" href="#" id="changePasswordLink" style="display:flex;">
                                    <i class="mdi mdi-cached me-2 text-success"></i>
                                    <span style="font-size: small;"> Change Password</span>
                                </a>
                                <a class="dropdown-item" href="#" id="logoutLink" style="display:flex;">
                                    <i class="mdi mdi-logout me-2 text-primary"></i>
                                    <span style="font-size: small;">Signout</span>
                                </a>
                            </div>
                        </li>
                    </ul>
                    <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                        <span class="mdi mdi-menu"></span>
                    </button>
                </div>
            </nav>

            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper pb-0">
                    <div class="row">
                        @RenderBody()
                    </div>
                </div>
                <!-- content-wrapper ends -->
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
            <!-- partial:partials/_footer.html -->
            @* <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2024 <a href="https://www.bootstrapdash.com/" target="_blank">BootstrapDash</a>. All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="mdi mdi-heart text-danger"></i></span>
            </div>
            </footer> *@
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    @RenderSection("Scripts", required: false)
    <!-- plugins:js -->
    <script src="~/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="~/vendors/chart.js/Chart.min.js"></script>
    <script src="~/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="~/vendors/flot/jquery.flot.js"></script>
    <script src="~/vendors/flot/jquery.flot.resize.js"></script>
    <script src="~/vendors/flot/jquery.flot.categories.js"></script>
    <script src="~/vendors/flot/jquery.flot.fillbetween.js"></script>
    <script src="~/vendors/flot/jquery.flot.stack.js"></script>
    <script src="~/vendors/flot/jquery.flot.pie.js"></script>
    <script src="~/js/jquery.cookie.js" type="text/javascript"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/js/off-canvas.js"></script>
    <script src="~/js/hoverable-collapse.js"></script>
    <script src="~/js/misc.js"></script>
    <script src="~/js/settings.js"></script>
    <script src="~/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="~/js/dashboard.js"></script>
    <script src="~/js/proBanner.js"></script>
    <!-- End custom js for this page -->

    <script>
        document.getElementById('changePasswordLink').addEventListener('click', function (event) {
            event.preventDefault();
            document.getElementById('changePasswordForm').submit();
        });

        document.getElementById('logoutLink').addEventListener('click', function (event) {
            event.preventDefault();
            document.getElementById('logoutForm').submit();
        });
    </script>
</body>
</html>
